<!DOCTYPE html>
<html>
	<head>
		<title>Amway Project</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= stylesheet_link_tag "jquery/smoothness/jquery-ui-1.8.4.custom", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "jquery/jquery-ui-1.8.13.custom.min" %>
	</head>
	<body>
		<div id='header' class="container_16">
			<h3 id="title">Amway Project</h3>
			<h5 id="subtitle">Network Model Generator</h5>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Generator</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
		<div id="body">
			<table class="circles">
				<tr>
					<td>
						<%= render :partial => "generator/circle", :locals => { :member_name => "Samuel Luis De La Cruz", :member_points => "300" }%>
					</td>
				</tr>
				<tr>
					<td>
						<table class="circles">
							<tr>
								<td>
									<%= render :partial => "generator/circle", :locals => { :member_name => "Joel Abraham Espinal Carrasco", :member_points => "300" }%>
								</td>
							</tr>
							<tr>
								<td>
									<table class="circles">
										<tr>
											<td>
												<%= render :partial => "generator/circle", :locals => { :member_name => "Pio German Espinal", :member_points => "300" }%>
											</td>
										</tr>
									</table>
								</td>
								<td class="empty">&nbsp;</td>
								<td>
									<table class="circles">
										<tr>
											<td>
												<%= render :partial => "generator/circle", :locals => { :member_name => "Estefany Marleny Villar", :member_points => "300" }%>
											</td>
										</tr>
									</table>
								</td>
								<td class="empty">&nbsp;</td>
								<td>
									<table class="circles">
										<tr>
											<td>
												<%= render :partial => "generator/circle", :locals => { :member_name => "Franchesca Ortiz", :member_points => "300" }%>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td class="empty">&nbsp;</td>
					<td>
						<table class="circles">
							<tr>
								<td>
									<%= render :partial => "generator/circle", :locals => { :member_name => "Jonathan German Aguero", :member_points => "300" }%>
								</td>
							</tr>
							<tr>
								<td>
									<table class="circles">
										<tr>
											<td>
												<%= render :partial => "generator/circle", :locals => { :member_name => "Jorge Wander Santana Ureña", :member_points => "300" }%>
											</td>
										</tr>
									</table>
								</td>
								<td class="empty">&nbsp;</td>
								<td>
									<table class="circles">
										<tr>
											<td>
												<%= render :partial => "generator/circle", :locals => { :member_name => "Ruben Gerardo Mancebo Rodriguez", :member_points => "300" }%>
											</td>
										</tr>
									</table>
								</td>
								<td class="empty">&nbsp;</td>
								<td>
									<table class="circles">
										<tr>
											<td>
												<%= render :partial => "generator/circle", :locals => { :member_name => "Sandy Ramirez Perez", :member_points => "300" }%>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td class="empty">&nbsp;</td>
					<td>
						<table class="circles">
							<tr>
								<td>
									<%= render :partial => "generator/circle", :locals => { :member_name => "Margarita De La Cruz", :member_points => "300" }%>
								</td>
							</tr>
							<tr>
								<td>
									<table class="circles">
										<tr>
											<td>
												<%= render :partial => "generator/circle", :locals => { :member_name => "Adonis Enmanuel Luis De La Cruz", :member_points => "300" }%>
											</td>
										</tr>
									</table>
								</td>
								<td class="empty">&nbsp;</td>
								<td>
									<table class="circles">
										<tr>
											<td>
												<%= render :partial => "generator/circle", :locals => { :member_name => "Empratriz Ortiz", :member_points => "300" }%>
											</td>
										</tr>
									</table>
								</td>
								<td class="empty">&nbsp;</td>
								<td>
									<table class="circles">
										<tr>
											<td>
												<%= render :partial => "generator/circle", :locals => { :member_name => "Antony Ureña", :member_points => "300" }%>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

		<div id="member_form" title="Add Member">
			<p class="validateTips">All form fields are required.</p>
			<fieldset>
				<input type="hidden" name="parent_id" id="parent_id" />
				<div class="field">
					<label for="code">Code</label>
					<input type="text" name="code" id="code" class="text ui-widget-content ui-corner-all" />
				</div>
				<div class="field">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all" />
				</div>
				<div class="field">
					<label for="last_name">Last Name</label>
					<input type="password" name="last_name" id="last_name" value="" class="text ui-widget-content ui-corner-all" />
				</div>
			</fieldset>
		</div>

		<div id="confirm" title="Confirmation">
			<p>Are you sure of remove the member </p>
		</div>
	</body>
</html>
