<div class='circle' id='member_<%= member.id %>'>
	<div class='outer-circle'></div>
	<div class='middle-circle'>
		<div class='action-circle flash' title='Remove' onclick='removeMember(event.target);' style='margin-left:51px;margin-top:4px;'>
			<span class='content'>-</span>
		</div>
		<div class='action-circle flash' title='Add' onclick='addMember(event.target);' style='margin-left:51px;margin-top:98px;'>
			<span class='content'>+</span>
		</div>
		<div class='action-circle flash' title='Edit' onclick='editMember(event.target);' style='margin-left:4px;margin-top:51px;'>
			<span class='content'>!</span>
		</div>
		<div class='action-circle flash' title='Show' onclick='showMember(event.target);' style='margin-left:98px;margin-top:51px;'>
			<span class='content'>?</span>
		</div>
	</div>
	<div class='inner-circle'>
		<div class='content'>&nbsp;</div>
		<div class='content'>
			<span class='member'><%= member.name %></span>
			<span class='points'><%= member.points %></span>
		</div>
	</div>
	<div class='data' style='display:none;'>
		<input value='<%= member.id %>' class='id' />
		<input name='members[<%= member.id %>][parent_id]' id='members_<%= member.id %>_parent_id' value='<%= member.parent_id %>' class='parent_id' />
		<input name='members[<%= member.id %>][code]' id='members_<%= member.id %>_code' value='<%= member.code %>' class='code' />
		<input name='members[<%= member.id %>][points]' id='members_<%= member.id %>_points' value='<%= member.points %>' class='points' />
		<input name='members[<%= member.id %>][person][name]' id='members_<%= member.id %>_person_name' value='<%= member.person.name %>' class='name' />
		<input name='members[<%= member.id %>][person][last_name]' id='members_<%= member.id %>_person_last_name' value='<%= member.person.last_name %>' class='last_name' />
	</div>
</div>