<!DOCTYPE html>
<html>
	<head>
	  	<title>Amway Project - Generator</title>
	  	<%= stylesheet_link_tag "css/generator", :media => "all" %>
	  	<%= stylesheet_link_tag "css/jquery-ui-1.8.4.custom", :media => "all" %>
  	  	<%= stylesheet_link_tag "application", :media => "all" %>
  	  	<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "js/jquery-ui-1.8.13.custom.min" %>
		<%= javascript_include_tag "js/generator" %>
	</head>
	<body>
		<div id='header'>
			<h3 id="title">Amway Project</h3>
			<h5 id="subtitle">Network Model Generator</h5>
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Generator</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
		<%= yield %>
		<div id="flash"></div>
	</body>
</html>
