<!DOCTYPE html>
<html>
	<head>
	  <title>Amway Project - Generator</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "raphael-min" %>
		<%= javascript_include_tag "generator" %>
	</head>
	<body>
		<%= yield %>
		<div id="flash"></div>
	</body>
</html>
